.solution_card {
    flex: 0 50%;
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2),
      0 5px 15px 0 rgba(37, 44, 97, 0.15);
    border-radius: 15px;
    margin: 8px;
    padding: 10px 10px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    min-height: 300px;
    max-height: 300px;
    max-width: 350px;
    min-width: 200px;
    transition: 0.7s;
  }

  .doc_div{
    background-color: #fff;
    margin-top: 15px;
    
    margin-bottom: 20px;
    width: 100%;
    height: 60vh; 
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(90, 11, 6, 0.5);
    /* background-color: aqua; */

}

.doc_card_details a{
    color: black !important;
}

.doc_card_details a:hover{
color: #ff5823;
}


.doc_row_div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
    margin-right: 0px;
}

.doc_code_icon{
    width: 100px;
    border-radius: 50%;
    background: #fff;
    padding: 4px;
    margin-top:10px ;
}

.doc_button{
    padding: 4px;
    background-color: #DCDCDC;
    border-radius: 1rem;
    color: #16325c;
    margin-top:10px ;

}

 .doc_card_details{
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 18px;
}

.doc_card_details h4{
    font-size: 18px;
    font-weight: 600;
}

.doc_card_icon{
    
    display: contents;
}

.doc_card_icon_col{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;
}

.doc_card_icon_col button{
 border-radius: 1rem;
padding-right: 18px;
padding-left: 18px;
padding-top: 4px;
padding-bottom: 4px;
background-color: #ff5823;
color: #fff;
border-color: #fff;
}

.doc_card_icon_col a{
    font-size: 30px;
    color: #ff5823;
}

 .doc_para{
    
    margin-bottom: 6px;
}

/* .doc_card_details h4{
    font-size: 18px;
}  */

@media (max-width: 768px){
    .doc_divs {
        width: 372px;
    }

    .doc_div{
        max-height: 40vh;
    }
}

  
  .solu_title h5{
    font-size: 19px;
    font-weight: 600;
    padding-left: 7px;
  }
  
  .solu_title{
  padding-top: 40px !important;
  }
  .solu_title a{
  list-style: none;
  text-decoration: none;
  color: #212121;
  }
  
  .solu_titles{
  border-radius: 5px;
  }
  
  .solu_titles a{
  list-style: none;
  text-decoration: none;
  color: #212121;
  }
  
  .solution_card:hover {
    background: #42c3ca;
    color: #fff;
    transform: scale(1.1);
    z-index: 9;
    cursor: pointer;
  }
  
  .solution_card:hover::before {
    background: rgb(85 108 214 / 10%);
  }
  
  .solution_card:hover .solu_title h3,
  .solution_card:hover .solu_description p {
    color: #fff;
  }
  
  .solution_card:before {
    content: "";
    position: absolute;
    background: rgb(85 108 214 / 5%);
    width: 170px;
    height: 400px;
    z-index: -1;
    transform: rotate(42deg);
    right: -56px;
    top: -23px;
    border-radius: 35px;
  }
  
  
  .solution_card:hover .solu_description button {
    background: #fff !important;
    color: #42c3ca;
  }
  
  .solution_card{
    width: 20rem;
    margin-bottom: 30px;
  }
  
  
  .solution_card .solu_title h4 {
    color: #212121;
    font-size: 1.3rem;
    margin-top: 13px;
    margin-bottom: 13px;
  }
  
  .solution_card .solu_description p {
    font-size: 15px;
    margin-bottom: 15px;
    padding-left: 8px;
    /* max-height: 3px; */
  }
  
  .solution_card .solu_description button {
    border: 0;
    border-radius: 15px;
    background: linear-gradient(
      140deg,
      #42c3ca 0%,
      #42c3ca 50%,
      #42c3cac7 75%
    ) !important;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    padding: 5px 16px;
  }
  
  .our_solution_content h1 {
    text-transform: capitalize;
    margin-bottom: 1rem;
    font-size: 2.5rem;
  }
  
  
  .hover_color_bubble {
    position: absolute;
    background: rgb(54 81 207 / 15%);
    width: 100rem;
    height: 100rem;
    left: 0;
    right: 0;
    z-index: -1;
    top: 16rem;
    border-radius: 50%;
    transform: rotate(-36deg);
    left: -18rem;
    transition: 0.7s;
  }
  
  .solution_card:hover .hover_color_bubble {
    top: 0rem;
  }
  
  .solution_card .so_top_icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #fff;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .solution_card .so_top_icon img {
    width: 40px;
    height: 50px;
    object-fit: contain;
  }
  
  /*start media query*/
  @media screen and (max-width:500px) {
    .sol_card_top_3 {
      position: relative;
      top: 0;
    }
  
    .our_solution_category {
      width: 100%;
      margin: 0 auto;
    }
  
    .our_solution_category .solution_cards_box {
      flex: auto;
    }
  }
  
  @media only screen and (min-width: 768px) {
    .our_solution_category .solution_cards_box {
      flex: 1;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .sol_card_top_3 {
      position: relative;
      top: -3rem;
    }
    .our_solution_category {
      width: 50%;
      margin: 0 auto;
    }
  }
  